<%= simple_form_for([:admin, @product]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :price %>
    <%= f.input :quantity %>
    <%= f.input :description %>
    <%= f.association :brand %>
    <%= f.association :category %>
    <%= f.input :avatar, as: :file, label: "Upload a product image" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
